<%-include("includes /header")%>
    <link rel="stylesheet" href="/CSS/menu.css" type="text/css">

    <body>
        <div class="main_container">
            <div class="group_name">
                <ul class="nav justify-content-center">
                    <li class="nav-item" style="cursor:pointer;">
                        <a href="/resto" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item" style="cursor:pointer;">
                        <a href="/resto/all-restaurants" class="nav-link">AllResto</a>
                    </li>
                    <li class="nav-item" style="cursor:pointer;">
                        <a href="/resto/logout" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>

            <div class="restaurant_menu_frame" style="height: 100vh;">
                <div class="restaurant_container">
                    <div class="resto_table">
                        <span class="new_dish_txt">
                            Barcha Oshhonalar Ro'yhati
                        </span>

                        <table class="table table-sm table-hover ">
                            <thead class="thead-light p-2">
                                <tr class="thead-light">
                                    <th scope="col">T/r</th>
                                    <th scope="col">Oshhona Nomi</th>
                                    <th scope="col">Oshhona Telfon Raqami</th>
                                    <th scope="col">Oshhona Top</th>
                                    <th scope="col">Oshhona Holati</th>
                                </tr>
                            </thead>

                            <tbody style="background-color: white;">
                                <% restaurants_data.map((ele, index)=> { %>
                                    <tr>
                                        <td><%- index + 1 %></td>
                                        <td><%- ele.mb_nick %></td>
                                        <td><%- ele.mb_phone %></td>
                                        <td style="width:13%;">
                                            <label class="switch">
                                                <input id="<%-ele._id%>" class="mb_top" type="checkbox" <%-
                                                    ele.mb_top=="Y" ? 'checked' : '' %>>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td style="width:13%">
                                            <select id="<%-ele._id%>" class="spec_select mb_status">
                                                <option value="ONPAUSE" <%- ele.mb_status==="ONPAUSE" ? 'selected' : ''
                                                    %>>ONPAUSE</option>
                                                <option value="ACTIVE" <%- ele.mb_status==="ACTIVE" ? 'selected' : '' %>
                                                    >ACTIVE</option>
                                                <option value="DELETED" <%- ele.mb_status==="DELETED" ? 'selected' : ''
                                                    %>>DELETED</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(
                function () {
                    //munipulate restaurants top features
                    $(".mb_top").on("change", (event) => {
                        const id = event.target.id;
                        const mb_top_status = event.target.checked ? "Y" : "N";

                        axios.post(`/resto/all-restaurants/edit`, { id: id, mb_top: mb_top_status, })
                            .then(response => {
                                const result = response.data;
                                console.log("result:", response.data);
                                if (result.state == "sucess") {
                                    alert("Successfully updated");
                                } else {
                                    alert(result.message);
                                }
                            })
                            .catch((err) => console.log(err.message));
                    });

                    //munipulate restaurants member status features
                    $(".mb_status").on("change", (event) => {
                        const id = event.target.id;
                        const mb_status = $(`#${id}.mb_status`).val();
                        console.log("mb_status:", mb_status)

                        axios.post(`/resto/all-restaurants/edit`, { id: id, mb_status: mb_status, })
                            .then(response => {
                                const result = response.data;
                                console.log("result:", response.data);
                                if (result.state == "sucess") {
                                    alert("Successfully updated");
                                } else {
                                    alert(result.message);
                                }
                            })
                            .catch((err) => console.log(err.message));
                    });


                }
            )
        </script>
    </body>
    <%-include("includes /footer")%>