<%-include('includes/header')%>
<link rel="stylesheet" href="/CSS/menu.css">
<body>
    <div id="main_container">
        <div class="group_name">
            <ul class="nav justify-content-center">
                <li class="nav-item" style="cursor:pointer;">
                    <a href="/resto" class="nav-link active">Home</a>
                </li>
                <li class="nav-item" style="cursor:pointer;">
                    <a href="/resto/products/menu" class="nav-link">MyResto</a>
                </li>
                <li class="nav-item" style="cursor:pointer;">
                    <a href="/resto/logout" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>

        <div class="restaurant_menu_frame">
            <div class="restaurant_container">
                <div class="dishes_table">
                    <span class="new_dish_txt"><%-member.mb_nick.toUpperCase()%> Taomlar Menyusi</span>
                    <form >
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <th scope="col">T/r</th>
                                <th scope="col">Taom nomi</th>
                                <th scope="col">Taom turi</th>
                                <th scope="col">Taom hajmi</th>
                                <th scope="col">Taom narxi</th>
                                <th scope="col">Taom qoldiq miqdori</th>
                                <th scope="col">Taom holati</th>
                            </thead>
                        <% restaurant_data.map((value, key) => { %>
                            <tbody style="background-color: white;">
                                <td><%- key+1 %></td>
                                <td><%- value.product_name %></td>
                                <td><%- value.product_collection %></td>
                                <td><%- value.product_collection  === "drink"? value.product_volume : value.product_size %></td>
                                <td><%- value.product_price %></td>
                                <td><%- value.product_left_cnt %></td>
                                <td>
                                    <select class="spec_select" id="<%- value._id %>">
                                        <option value="PAUSED" <%- value.product_status == "PAUSED" ? "selected": " " %> >PAUSED</option>
                                        <option value="PROCESS" <%- value.product_status == "PROCESS" ? "selected": " " %> >PROCESS</option>
                                    </select>
                                </td>
                            </tbody>
                        <% }); %>
                        </table>
                    </form>
                </div>

                <form action="/resto/product/create" method="POST" onsubmit="return validateForm()"
                class="dish_container" enctype="multipart/form-data">
                    <div class="long_input" style="align-items: flex-end; margin-bottom: 25px;">
                        <span class="new_dish_txt">Yangi Taom</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<%-include('includes/footer')%>